<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.kylestratis.roamweeklyplan</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>22FCDD2E-1014-4098-A6F0-3A8746773641</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CEE8301-5DFC-464D-8DD4-ABE18B213812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CEE8301-5DFC-464D-8DD4-ABE18B213812</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB9DC66D-E14E-4D51-9DFC-3772C2CF609F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kyle Stratis</string>
	<key>description</key>
	<string>Generates a Weekly Plan for Roam</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Roam Weekly Plan</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>xrwp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>22FCDD2E-1014-4098-A6F0-3A8746773641</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EB9DC66D-E14E-4D51-9DFC-3772C2CF609F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python weekly_plan.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CEE8301-5DFC-464D-8DD4-ABE18B213812</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This generates a weekly plan template for Roam for the next week, inspired by both of Nat Eliason's Effortless Output with Roam courses</string>
	<key>uidata</key>
	<dict>
		<key>22FCDD2E-1014-4098-A6F0-3A8746773641</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>9CEE8301-5DFC-464D-8DD4-ABE18B213812</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>EB9DC66D-E14E-4D51-9DFC-3772C2CF609F</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>{{VERSION}}</string>
	<key>webaddress</key>
	<string>http://kylestratis.com</string>
</dict>
</plist>
